.notepagelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #EEEEF1;
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 30px;
    padding-bottom: 120px;
}


.newNote {
    font-size: 48px;
    position: absolute;
    top: 120px;
    left: 60px;
    background: transparent;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}