.noteItem {
    cursor: pointer;
    background-color: #FFFFC9;
    padding: 20px;
    min-width: 370px;
    max-width: 370px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0, 1);
    margin: 0px 30px 30px 0px;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;


}

.noteItem:hover {
    opacity: 0.8;
}

.noteTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #767653;
    border-bottom: 1.5px solid #EBEBB0;
}

.noteText {
    font-size: 1rem;
    line-height: 1.5;
    color: #767653;
}



.noteItem input,
.noteItem textarea {


    font-family: "Works Sans", sans-serif;
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFC9;
    color: #767653;
    box-shadow: none;
    outline: none;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 0;

}

.noteItem input:focus,
.noteItem textarea:focus {
    background-color: #FFFFE0;
    outline: none;
    border: none;
}

.noteItem input {
    font-size: 1.25rem;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 1.5px solid #EBEBB0;
    margin-bottom: 10px;
    margin-top: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;


}

.noteItem textarea {
    resize: none;
    height: auto;
    overflow: hidden;
    line-height: 1.5;
    font-size: 1rem;
    padding-top: 6px;
    margin-bottom: -7px;
    min-height: 0px;


}

.noteItem textarea:focus {
    height: auto;

}





.noteAction {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.noteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #6e6e6e;
}

.noteBtn svg {
    width: 20px;
    height: 20px;
}

.noteBtn:hover {
    opacity: 0.5;
}


.itemDate {
    font-size: small;
    font-weight: 200;
    left: 10px;
    bottom: 10px;
    color: #767653;
    display: flex;
    margin-right: 8px;
    margin-bottom: -10px;
}

.noteItem.edit-mode {
    position: relative;
    z-index: 11;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.noteItem:not(.edit-mode):hover {
    opacity: 0.8;
}

.noteItem.edit-mode:hover {
    opacity: 1;
}